/* Resetear los estilos predeterminados del navegador */
body, h1, h3 {
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header h3 {
    font-size: 18px;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* Estilo para el enlace "Cerrar Sesión" */
.container a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.container a:hover {
    text-decoration: underline;
}

.document-container {
    width: 200px; /* Ancho deseado para cada recuadro de documento */
    margin: 10px; /* Espacio entre los recuadros de documento */
    padding: 10px;
    border: 1px solid #ccc; /* Borde para el recuadro */
    text-align: center; /* Centra el contenido en el recuadro */
}