/* Estilo para el encabezado */
.header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    padding: 0;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #343a40;
}

.navbar a {
    color: white !important;
}

/* Estilo para el formulario de inicio de sesión */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilo para el enlace "Continuar sin iniciar sesión" */
form a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}

/* Estilo para los mensajes de error */
.error {
    color: #ff0000;
}

/* Estilo para el enlace "Volver a la Lista de Documentos" */
a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}
